/mvnw text eol=lf
*.cmd text eol=crlf

# Reconhecimento equilibrado das tecnologias no GitHub Languages
*.java linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
